body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("CSSResources/paper.jpg");
    background-color: #c9b79c;
    align-content:center;
}

.navbar {
    background: linear-gradient( to bottom, #FFCC33 20%, #FF9933 20% 40%, #FF6633 40% 60%, #CC3333 60% 80%, #336699 80% 100% );
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.titleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    border: 5px solid black;
    max-width: 100%;
    max-height: 80%;
    box-sizing: border-box;
}

.navbar-brand {
    font-family: "Bagel Fat One", system-ui;
    font-size: 26px;
    color: black;
    text-align: center;
}

.titleword {
    display: block;
    line-height: 1.2;
    font-size: 40px;
    margin-top: 5px;
}

.gameword {
    font-family: "Miniver", cursive;
    font-size: 30px;
    font-weight: bold;
    display: block;
    line-height: 1.2;
    margin-top: -5px;
    margin-left: 5px;
    padding-left: 35px;
    margin-right: -30px;
    color: black;
}

.gameContainer {
    border: 8px solid #336699;
    border-radius: 0px 92px 0px 92px;
    padding: 20px 0;
    max-width: 500px;
    color: black;
    background-color: #e9cea5;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
}


input[type="text"] {
    font-size: 18px;
    border-radius: 8px;
    background-color: #fff5f5;
    border: 2px solid #336699;
    margin-bottom: 5px;
}

button {
    font-size: 12px;
    color: white;
    background-color: #FF6633;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 0;
}

    button:hover {
        background-color: #CC3333;
    }

#footer {
    position: relative;
    bottom: 0;
    margin-top: 180px;
    color: white;
    text-align: left;
    margin-left: -100px;
    padding: 0px;
}


.border1 {
    margin-top: 75px;
    margin-left:auto;
    margin-right:auto;
    border: 8px solid #FF9933;
    padding: 0px;
    border-radius: 0px 120px 0px 120px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
}

.border2 {
    border: 8px solid #FF6633;
    padding: 0px;
    border-radius: 0px 110px 0px 110px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
}

.border3 {
    border: 8px solid #CC3333;
    padding: 0px;
    border-radius: 0px 100px 0px 100px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
}
